@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


:root{
    /* Color */
    --body-color: #FFFFFF;
    --body-color-2: #F8F8F8;
    --primary-color-light:#F6F6F6;
    --hijau-color: #00B24C;
    --biru-color: #5A94F5;
    --merah-color: #B22020;
    --shadow-color: rgba(0, 0, 0, 0.25);
    --text-color: #181818;
    --hitam-color: #000000;

    /* transition */
    --tran-01: all 0.1s ease;
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;



}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.body-blue{
    position: absolute;
    z-index: -999;
    width: 100%;
    height: 100%;
    background: var(--biru-color);
}
.body-blue p{
    opacity: 0;
}
body{
    height: 100vh;
    transition: var(--tran-04);
}
.logout{
    display: flex;
    justify-content: end;
    align-items: center;
}
.logout a{
    padding: 5px;
    margin-right: 20px;
    font-size: 30px;
    font-weight: 700;
    color: var(--body-color);
}
h1{
    margin-top: 30px;
    text-align: center;
    color: var(--body-color);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    background-color: var(--body-color-2);
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 100px 100px 0px 0px;
    box-shadow: 0px 4px 4px 4px var(--shadow-color);
}
.card-saldo{
    margin-top: -130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding: 27px;
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px var(--shadow-color);
    background-color: var(--body-color);
}
.saldo-atas{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    width: 100%;
}
.income{
    width: 100%;
    background-color: var(--hijau-color);
    padding: 20px;
    border-radius: 30px;
    font-weight: 700;
    color: var(--body-color);
}
.income p{
    font-size: 16px;
}
.income span{
    display: block; 
    font-size: 40px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.used{
    width: 50%;
    box-shadow: 0px 4px 4px 0px var(--shadow-color) inset;
    border-radius: 30px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: var(--hitam-color);
}
.used p{
    font-size: 12px;
}
.used span{
    font-size: 24px;
}
form{
    width: 100%;
    color: var(--body-color);
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}
.checkbox{
    display: flex;
    flex-direction: row;
}
form .checkbox input{
    width: 10%;
}

.ket{
    flex-direction: column;
    align-items: start;
    gap: 5px;
}
textarea{
    padding: 10px;
    resize: none;
    width: 100%;
    border: none;
    border-radius: 10px;
}
textarea:focus{
    outline: none;
}
.popup form span{
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.popup form span input{
    width: 10%;
}

.popup form input{
    text-align: center;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.popup form input:focus{
    outline: none;
}
.popup form select{
    text-align: center;
    width: 100%;
    padding: 9px;
    border-radius: 10px;
    border: none;
}
.popup form select:focus{
    outline: none;
}
.popup .action-saldo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 10px;
}
.action-saldo button{
    border: none;
    color: var(--body-color);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    padding: 12px;
    border-radius: 20px;
    margin: 10px;
    margin-top: 30px;
    padding: 10px 20px;
}
.action-saldo #showPopupButton{
    background-color: var(--biru-color);
}
.action-submit{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.action-submit button{
    background-color: var(--body-color);
    color: var(--hitam-color);
    border-radius: 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 700;
}
.action-submit button .negative{
    color: red;
}
.action-submit button .positive{
    color: var(--hijau-color);
}

@media screen and (max-width: 1105px){
    .saldo-atas{
        flex-direction: column;
        gap: 10px;
    }
    .used{
        width: 100%;
        padding: 20px;
    }
    .income span{
        font-size: 5vw;
    }
    .used span{
        font-size: 3vw;
    }
    .action-saldo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .action-saldo button{
        font-size: 3vw;
    }


}
@media screen and (max-width: 760px){
    .action-saldo{
        flex-direction: column;
        width: 80%;
        text-align: center;
    }
    .popup .action-saldo {
        flex-direction: row;
        justify-content: center;
    }
    .popup form input{
        width: 100%;
        padding: 8px;
    }
}
@media screen and (max-width: 500px){
    .container{
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 50px 50px 0px 0px;
    }
    .card-saldo{
        width: 95%;
    }
    .income span{
        font-size: 7vw;
    }
    .used span{
        font-size: 5vw;
    }
    .action-saldo a{
        font-size: 4vw;
    }
    .logout span{
        padding: 10px;
    }
    .logout a{
        margin-right: 10px;
    }
    .action-submit button{
        font-size: 3vw;
    }
}

.rincian-container{
    margin-top: 40px;
    width: 20%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 5px ;
    border-radius:50px;
}
.rincian{
    border-radius: 50px;
    text-align: center;
    width: 100%;
    background-color: var(--body-color);
    padding: 5px;
    box-shadow: 0px 4px 4px 0px var(--shadow-color) ;
}
.rincian i{
    font-size: 13px;
}
.rincian h3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rincian a{
    color: var(--hitam-color);
}

@media screen and (max-width: 830px){
    .rincian-container{
        width: 50%;
        align-items: center;
        border-radius: 40px;
    }
    .rincian{
        font-size: 3vw;
        border-radius: 30px;
    }
    
}


.saldo-table-container {
    margin-top: 50px;
    width: 100%;
    overflow-x: auto;
    display: flex;
    justify-content: start;
    background-color: var(--body-color);
    box-shadow: 0px 4px 4px 0px var(--shadow-color);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 200px;
}
.icon{
    font-size: 25px;
}
.saldo-table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap; /* Hindari pemisahan kata dalam sel */
}

.saldo-table th,
.saldo-table td {
    padding: 8px;
    text-align: center;
    white-space: normal;
}
.saldo-table td{
    text-align: start;
}

/* Atur warna latar belakang untuk baris ganjil */
.saldo-table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Tambahkan CSS untuk sel dengan class "positive" dan "negative" */
.saldo-table .positive {
    color: var(--hijau-color);
}

.saldo-table .negative {
    color: var(--merah-color);
}

/* Tambahkan CSS untuk elemen select */
.saldo-table select {
    width: 100%;
}

.saldo-table select{
    text-align: center;
    width: 70%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.145);
    font-weight: 700;
}
.saldo-table select:focus{
    outline: none;
    border: 1px solid var(--hijau-color);
}

@media screen and (max-width: 760px){
    .saldo-table select{
        width: 100%;
    }
    .icon{
        font-size: 4vw;
    }
    th{
        font-size: 3vw;
    }
    #saldo-row{
        display: flex;
        flex-direction: column;
    }

}


.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}
.popup-judul{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--body-color);
}
.popup p{
    margin-top: 20px;
}

.popup-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--biru-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 30%;
    max-width: 80%; /* Lebar maksimum popup */
    max-height: 80%; /* Tinggi maksimum popup */
    overflow: auto; /* Tampilkan scrollbar jika kontennya terlalu besar */
}

.closePopup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: var(--body-color);
}

/* Tambahkan gaya responsif */
@media (max-width: 1300px) {
    .popup-content {
        width: 50%;
    }
    .popup-judul{
        font-size: 20px;
        font-weight: 700;
    }
}
@media (max-width: 768px) {
    .popup-content {
        width: 100%;
        max-width: 90%;
        max-height: 90%;
    }
    .popup-judul{
        font-size: 20px;
        font-weight: 700;
    }
}


/* ================= CSS RINCIAN =================== */

.body-rincian{
    margin: 20px;
}
#back{
    display: flex;
    justify-content: start;
    width: 10%;
    align-items: center;
    color: var(--biru-color);
}
.total-now{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.total p{
    font-size: 50px;
    font-weight: 700;
}
.total h6{
    font-weight: 400;
    font-style: italic;
    color: red;
    font-size: 12px;
}
.total h6 button{
    font-weight: 400;
    font-style: italic;
    color: blue;
    font-size: 12px;
    text-decoration: underline;
    background: transparent;
    border: none;
    cursor: pointer;
}
.card-inout{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px 0px var(--shadow-color) inset;
    background-color: var(--body-color-2);
    padding: 10px;
    gap: 10px;
    border-radius: 50px;
}
.card-inout span{
    display: flex;
    align-items: center;
}
.card-inout .in{
    background-color: var(--body-color);
    padding: 10px 20px;
    border-radius: 50px;
}
.card-inout .in i{
    color: var(--hijau-color);
}
.card-inout .out{
    background-color: var(--body-color);
    padding: 10px 20px;
    border-radius: 50px;
}
.card-inout .out i{
    color: var(--merah-color);
}
.rincian-table{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    border: 1px solid rgba(0, 0, 0, 0.145);
}
.rincian-table select{
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.198);
}
.action-td{
    border: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.action-td button{
    text-align: center;
    background: transparent;
    border: none;
    text-decoration: underline;
}
.action-td #edit{
    color: var(--biru-color);
}
.action-td #delete{
    color: var(--merah-color);
}
.kas-besar{
    margin: 20px;
    display: flex;
    justify-content: end;

}
.kas-besar a{
    display: flex;
    align-items: center;
    background-color: #5ACE00;
    padding: 10px 20px;
    border-radius: 8px;
    color: var(--body-color);
}
@media (max-width: 1005px){
    .total-now{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .total h6{
        margin-bottom: 20px;
    }
    .kas-besar a{
        white-space: nowrap;
    }
}
@media (max-width: 768px){

    .total span{
        font-size: 4vw;
    }
    .total p{
        text-align: center;
        font-size: 7vw;
        font-weight: 700;
    }
    .total h6{
        margin-bottom: 20px;
    }
    .card-inout .in,
    .card-inout .out{
        padding: 5px 10px;
        overflow: hidden;
        white-space: nowrap;
        font-size: 3vw;
    }
    .action-td{
        flex-direction: column;
        align-items: center;
    }
    .action-td button{
        font-size: 2vw;
    }
    
}
@media (max-width: 430px){
    .total h6,
    .total h6 button{
        font-size: 3vw;
    }
}
.table-total{
    display: flex;
    flex-direction: column;
    margin-top: -180px;
}
.table-total td{
    font-size: 16px;
    text-align: center;
}

.catatan{
    margin-top: -180px;
}

.catatan .saldo-table tbody tr:nth-child(odd) {
    background-color: var(--body-color);
}

.catatan .saldo-table tr{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.145);
}
.catatan .saldo-table td a:hover{
    text-decoration: underline;
}
.catatan .saldo-table td .icon{
    margin: 5px;
}
.catatan .saldo-table td{
    display: flex;
    align-items: center;
}
#last-update{
    color: rgba(0, 0, 0, 0.332);
}
@media (max-width: 768px){
    .catatan .saldo-table td{
        font-size: 2vw;
    }
    .saldo-table td{
        font-size: 2vw;
    }
}
@media (max-width: 307px){
    h2{
        font-size: 5vw;
    }
}

